body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body > nav {
	height: 60px;
	width: 100%;
}

body > nav > * {
	display: inline-block;
}

body > nav > h2 {
	margin-left: 20px;
}

body > nav > div {
	float: right;
	margin-right: 20px;
}

body > nav > div > ul > li > a {
	display: block;
	padding: 7px;
	background-color: #EDEDED;
	color: #5F5F5F;
	border-radius: 5px;
}

body > nav > ul {
	position: relative;
	top: 10px;
}

body > nav ul li {
	display: inline-block;
}

body > nav > ul li {
}

body > nav ul li a {
	display: inline-block;
	padding: 10px 20px;
	background-color: #64A101;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	color: #FFFFFF;
}

body > section.top {
	height: 500px;
	width: 100%;
	background-image: url('top.jpg');
	background-size: 100% 500px;
	position: relative;
}

body > section.top > div {
	display: inline-block;
	width: 500px;
	position: absolute;
	content: "";
	top: 50px;
	margin-left: 50%;
	left: -600px;
}

body > section.top img {
	height: 500px;
	position: absolute;
	content: "";
	top: 70px;
	margin-right: 50%;
	right: -650px;
}

body > section.top > div h1 {
	font-size: 45px;
	color: #FFFFFF;
	text-align: center;
}

body > section.top > div p {
	font-size: 15px;
	color: #FFFFFF;
}

body > section.top > div > a {
	display: inline-block;
	padding: 20px;
	background-color: #EDEDED;
	margin-top: 20px;
	color: #5F5F5F;
	font-size: 30px;
	font-weight: bold;
	border-radius: 10px;
}

body > section.top > div > form {
	margin-top: 20px;
	display: none;
}

body > section.top > div > a.temporary {
	display: inline-block;
	padding: 10px;
	background-color: #14BA79;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	border-radius: 5px;
}

body > section.top > div > form {
	margin-top: 20px;
	display: none;
}

body > section.top > div > p.status {
	display: block;
	font-size: 20px;
}
