body {
	margin: 0;
	min-width: 800px;
	font-family: sans-serif;
}

#chat > input { 
	display: inline-block;
	position: absolute;
	bottom: 0;
}

#send {
	right: 0;
}

#chat_input { 
	width: 240px;
}

#textList {
	list-style-type: none;
	overflow: auto;
	padding: 10px;
	margin: 0;
	height: 90%;
	border: 1px solid red;
}

#chat-content { 
	position:absolute;       
	bottom:0;                           
	left:0;    
}

#textbox {
	background-color:#FF00FF;
	height: 200px;
	overflow: auto;
}

#remoteVideos video {
	height: 100px;
}

#localVideo {
	height: 100px;
}

#uBar {
	height: 100px;
	position: relative;
}

#uBar > div {
	float: left;
	width: 133px;
	height: 100%; 
	display: inline-block;
	border-right: 1px solid black;
}

#dBar {
	height: 40px;
	width: 100%;
	position: fixed;
	bottom: 0;
	background-color: #64A101;
}

#dBar > div {
	width: 16.59%;
	display: inline-block;
	height: 100%;
	margin: 0;
	text-align: center;
	line-height: 40px;
	border-right: 1px solid #000000;
	color: #FFFFFF;
	font-size: 20px;
}

#content {
	width: 100%;
	display: block;
	background-color: pink;
	position: absolute;
	top: 100px;
	bottom: 40px;
}

#lWindow {
	background-color: #000000;
	display: inline-block;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	right: 300px;
}

.rWindow {
	height: 100%;
	width: 300px;
	background-color: #FFFFFF;
	position: absolute;
	right: 0;
}

#uBar > h2 {
	position: absolute;
	right: 20px;
}
