body {
	font-family: sans-serif;
	margin: 0;
	min-width: 800px;
}

body input[type="submit"],
body button {
	background-color:#64A101;
	color: #FFFFFF;
	padding: 4px;
	border-radius: 3px;
	border: none;
	cursor: pointer;
}

body input[type="submit"]:hover,
body button:hover {
	background-color: #BCAAD4;
}

#uBar {
	height: 100px;
	position: relative;
}

#uBar > div {
	border-right: 1px solid #000;
	display: inline-block;
	float: left;
	height: 100%;
	list-style-type: none;
	width: 133px;
}

#uBar > div img {
	height: 100%;
	width: 133px;
}

#uBar > h2 {
	position: absolute;
	right: 20px;
}

#content {
	bottom: 40px;
	display: block;
	position: fixed;
	top: 100px;
	width: 100%;
}

#lWindow {
	display: inline-block;
	height: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	right: 300px;
	background-color: #000000;
}

#rWindow {
	float: right;
	width: 300px;
	display: inline-block;
	height: 100%;
	position: relative;
}

#rWindow > div {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#chat {
	background-color: #D9EFEE;
}

#chat input {
	bottom:2px;
	display:inline-block;
	position:absolute;
}

#chat input[type="submit"] {

}

#chat_input
{
  background-color:#FFF;
  border:1px solid #14BA79;
  left:2px;
  width:236px;
}

#send {
  background-color:#14BA79;
  border:none;
  border-radius:3px;
  color:#FFF;
  display:inline-block;
  font-size:16px;
  font-weight:700;
  padding:3px;
  right:2px;
}

#textList {
	background-color:#D9EFEE;
	list-style-type:none;
	margin:0;
	overflow:auto;
	word-wrap:break-word;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 30px;
	right: 0;
	padding: 0;
}

#textList li {
	padding:10px;
	display: block;
	background-color: #BDDBD8;
}

#textList li:nth-child(2n) {
	background-color: #D9EFEE;

}

#dBar
{
  background-color:#64A101;
  bottom:0;
  height:40px;
  position:absolute;
  width:100%;
}

#dBar > div:hover {
	background-color: #588D04;
}

#dBar > div
{
  border-right:1px solid #383838;
  color:#FFF;
  display:inline-block;
  font-size:17px;
  height:100%;
  line-height:40px;
  margin:0;
  text-align:center;
  width:13.8%;
}

#dBar > div:last-child
{
  border-right:none;
}

#searchForm
{
  color:#FFF;
  margin-top:100px;
}

div.popup_form form {
	color: #000000;
	position: relative;
	width: 400px;
	margin: auto;
	z-index: 3;
}

div.popup_form form fieldset {
	background-color: #FFFFFF;
	padding: 30px;
	border: 1px solid #000000;
}

div.popup_form form fieldset legend {
	display: inline-block;
	padding: 10px;
	background-color: #14BA79;
	margin-top: 20px;
	color: #FFFFFF;
	font-size: 17px;
	font-weight: bold;
	border-radius: 5px;
}

div.popup_form form fieldset input {
	background-color: #FFFFFF;
	border: 1px solid #A9A9A9;
	margin-top: 10px;
	color: #000000;
}

#tableResults {
	width: 80%;
	height:100%;
	border-spacing: 1px;
}

#tableResults tr:nth-child(2n) {
	background-color: #3A3A3A;
}

#tableResults tr {
	background-color: #2D2D2D;
	height: 40px;
}

#tableResults tr:first-child {
	background-color: #14BA79;
}

#friendList { //main
	background-color: #FFFFFF;
}

#friend_list { //ul
	font-size:15px;
	list-style-type:none;
	overflow: auto;
	position: absolute;
	top: 40px;
	right: 0;
	left: 0;
	bottom: 40px;
	padding: 0;
	margin: 0;
}

#friend_list li
{
  background-color:#BDDBD8;
  height:40px;
  line-height:40px;
  text-align:center;
}

#friend_list li img {
	cursor: move;
}

#friend_list li:hover,
#friend_list li:nth-child(2n):hover {
	background-color: #BCAAD4;
}

#add_friend {
	bottom: 0;
}

#invitation_button {
	top: 0;
}

#add_friend:hover,
#invitation_button:hover {
	background-color: #119F68;
}

button.option_button {
	background-color: #14BA79;
	border: none;
	color: #FFF;
	font-weight: 700;
	height: 40px;
	width: 100%;
	position: absolute;
	z-index: 1;
	cursor: pointer;
	border-radius: 0;
	box-shadow: none;
}

#friend_list li img
{
  display:block;
  float:left;
  height:36px;
  margin-left:2px;
  margin-top:2px;
  width:36px;
}

#options form,#fileshare form {
	width: 100%;
	margin: 0;
}

#options form fieldset,
#fileshare form fieldset {
	background-color:#FFF;
	width: 100%;
	border: none;
	padding: none;
}

#options form fieldset legend ,
#fileshare form fieldset legend {
	text-align: center;
	width: 100%;
	background-color:#14BA79;
	color:#FFF;
	font-weight:700;
	padding:10px;
	margin: 0;
	margin-left: -12px;
}

#options form input {
	background-color:#FFF;
	border:1px solid #14BA79;
	border-radius:2px;
	margin: 2px;
	padding: 2px;
	width: 270px;
}

#options form input[type="file"] {
	border: none;
}

#options form button {
	float:right;
	margin-right: 27px;
	margin-top: 5px;
}

#fileshare input {
	width:100px;
}

#file_share_button
{
  float:right;
  margin-right:10px;
}

#whiteboard
{
  background-color: #D9EFEE;;
  height:100%;
  position:absolute;
  visibility:hidden;
  width:100%;
}

#progress_bar
{
  -moz-transition:opacity 1s linear;
  -o-transition:opacity 1s linear;
  -webkit-transition:opacity 1s linear;
  border:1px solid #000;
  clear:both;
  font-size:14px;
  margin:10px 0;
  opacity:0;
  padding:3px;
}

#progress_bar.loading
{
  opacity:1.0;
}

#progress_bar .percent
{
  background-color:#9cf;
  height:auto;
  width:0;
}

#remoteVideos video,#localVideo
{
  height:100px;
}

#friend_list li:nth-child(2n) {
  background-color:#D9EFEE;
}

#panel input { //whiteboard
	border: none;
}
